@font-face {
    font-family: 'Open Sans Light';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../font/opensanslight.woff2.txt') format('woff2'), url('../font/opensanslight.woff.txt') format('woff'), url('../font/opensanslight.ttf.txt') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../font/opensans.woff2.txt') format('woff2'), url('../font/opensans.woff.txt') format('woff'), url('../font/opensans.ttf.txt') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../font/opensanssemibold.woff2.txt') format('woff2'), url('../font/opensanssemibold.woff.txt') format('woff'), url('../font/opensanssemibold.ttf.txt') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../font/opensansbold.woff2.txt') format('woff2'), url('../font/opensansbold.woff.txt') format('woff'), url('../font/opensansbold.ttf.txt') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family: 'Geometria Light';
	src: url('../font/Geometria-Light.eot');
	src: local('Geometria Light'), local('Geometria-Light'),
		url('../font/Geometria-Light-1.eot') format('embedded-opentype'),
		url('../font/Geometria-Light.woff.txt') format('woff'),
		url('../font/Geometria-Light.ttf.txt') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria Medium';
	src: url('../font/Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../font/Geometria-Medium-1.eot') format('embedded-opentype'),
		url('../font/Geometria-Medium.woff.txt') format('woff'),
		url('../font/Geometria-Medium.ttf.txt') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: local('Proxima Nova Condensed Semibold'), local('Proxima-Nova-Condensed-Semibold'),
        url('../font/ProximaNovaCond-Semibold.woff2.txt') format('woff2'),
        url('../font/ProximaNovaCond-Semibold.woff.txt') format('woff'),
        url('../font/ProximaNovaCond-Semibold.ttf.txt') format('truetype');
    font-weight: 600;
    font-style: normal;
}
*, *:hover, *:focus, *:active, .form-control, .form-control:focus, button:focus{
	outline: none;
}
.form-control, .form-control:focus{
	box-shadow: none;
}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: "Geometria Light", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  background-color: #001214;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img, abbr {
  border: 0;
}
address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}
strong{
	font-weight: bold;
}
ul li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}
section{
	position: relative;
}
img {
  max-width: 100%;
  height: auto;
}
a{
	color:#FFFFFF;
}
a:hover{
	color:#FFFFFF;
	opacity: 0.8;
	text-decoration: none;
}
form input.form-control{
    border: 2px solid rgba(254,254,255,0.25);
    border-radius: 40px;
    height: 52px;
    font-family: 'Open Sans Light',sans-serif;
    background-color: transparent;
    padding-left: 22px;
    padding-right: 22px;
	color: #FFFFFF;
}
@media screen and (max-width: 1199px) {
	form input.form-control{
		border: 2px solid rgba(254,254,255,0.45);
		background-color: rgba(254,254,255,0.15);
	}
}
form input.form-control.error, form textarea.form-control.error{
	border-color: #dc3545!important;
	background-color: rgba(220, 53, 69,0.05)!important;
}
label.error {
    color: #dc3545;
    font-size: 13px;
    display: none!important;
    text-align: center;
}
form input.form-control:focus{
	border: 2px solid rgba(254,254,255,0.25);
	box-shadow: none;
	background-color: transparent;
	color: #FFFFFF;
}
.form-row ::-webkit-input-placeholder {
	color:#FFFFFF;
	font-family: 'Open Sans Light',sans-serif; 
}
.form-row ::-moz-placeholder {
	color:#FFFFFF;
	font-family: 'Open Sans Light',sans-serif; 
}
.form-row :-ms-input-placeholder {
	color:#FFFFFF;
	font-family: 'Open Sans Light',sans-serif; 
}
.form-row :-moz-placeholder {
	color:#FFFFFF;
	font-family: 'Open Sans Light',sans-serif; 
}
@media (min-width: 1200px){
	.container {
		max-width: 1170px;
	}
}
/*--- HEADER ---*/
.navbar{
	background-color: #000000;
    padding-top: 0;
    padding-bottom: 0;	
}
.logo{
	font-family: 'Proxima Nova Condensed',sans-serif; 
	font-size: 30px;
	color: #ffffff;
}
.logo:hover{
	color: #ffffff;
	text-decoration: none;
}
.logo .logo__red{
	color: #b30028;
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans Semibold',sans-serif; 
}
.navbar-dark .navbar-nav .nav-link:focus{
	color: #ff003a;
}
.navbar .nav-link.nav-link__red{
	color: #ff003a;
}
.navbar .nav-link.nav-link__red:hover{
	color: #ff003a;
	opacity: 0.95;
}
.navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}
.parallax {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.parallax .layer {
    width: 104%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 0px 0px -2%;
    background-repeat: no-repeat;
}
.parallax_top .layer_01 {
    background-image: url(../img/parallax_top_1.png);
	background-position: top center;
}
@media (max-width: 767px){
	.parallax_top .layer_01 {
		display: none;
	}
}
.parallax_top .layer_02 {
    background-image: url(../img/parallax_top_2.png);
	background-position: top left;
}
.parallax_top .layer_03 {
    background-image: url(../img/parallax_top_3.png);
    background-position: right bottom;
}
.head{
	position: relative;
    padding-top: 82px;
	margin-bottom: 122px;
}
@media (max-width: 991px){
	.head{
		margin-bottom: 50px;
	}
}
.sublogo{
	font-size: 14px;
	line-height: 1.2;
	color: #bec2ca;
}
.head .sublogo{
	margin-left: 20px;
}
.phone{
    font-size: 24px;
    line-height: 1;
    padding-top: 10px;
}
.phone span{
	font-family: 'Geometria Medium', sans-serif;
}
.top__navbar .phone{
	padding-top: 5px;
	font-size: 20px;
}
.banner_block{
	padding-top: 120px;
}
@media (max-width: 767px){
	.banner_block{
		background-image: url(../img/parallax_top_1.png);
		background-position: bottom center;
		padding-bottom: 350px;
		background-size: 767px;
		background-repeat: no-repeat;
		padding-top: 50px;
	}
}
@media (max-width: 575px){
	.banner_block{
		padding-bottom: 245px;
		background-size: 500px;
		
	}
}

h1, h2{
	font-family: "Open Sans Bold", sans-serif;
	font-size: 50px;
	margin-bottom: 12px;
}
@media (max-width:767px){
	h1, h2{
		font-size: 42px;
	}
}
@media (max-width:575px){
	h1, h2{
		font-size: 26px;
	}
}
.subtitle{
	font-size: 26px;
}
@media (max-width:575px){
	.subtitle {
		font-size: 24px;
		line-height: 1.3;
	}
}
.ask_quest{
	font-family: 'Open Sans Light', sans-serif;
	font-size: 18px;
	margin-bottom: 14px;
	position: relative;
	margin-top: 57px;
}
.ask_quest:before{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #783c56;
    position: absolute;
    top: 12px;
    left: -106%;
}
.btn_main {
    background-color: #b30028;
    color: #ffffff;
    border-color: #b30028;
    font-size: 18px;
    border-radius: 50px;
    padding: 13px 74px;
    font-family: "Open Sans Bold", sans-serif;
	width: 100%;
	transition: 0.5s;
}
@media (max-width:767px){
	.btn_main {
		padding: 13px 20px;
	}
}
@media (max-width:575px){
	.btn_main {
		padding: 10px 20px;
		font-size: 15px;
		line-height: 1.2;
	}
}
.btn:focus{
	box-shadow: none;
}
.banner_block .btn_main{
	max-width: 363px;
}
@media (max-width:575px){
	.banner_block .btn_main{
		max-width: 100%;
	}
}
.btn_main:hover{
	box-shadow: inset 0px 0px 7px 2px rgba(255,255,255,0.35), 
				0 0 49px 19px rgba(179, 0, 40, 0.5);
	color: #ffffff;
	opacity: 1;
}
.advant_block{
	margin-top: 261px;
}

@media (max-width:767px){
	.advant_block{
		margin-top: -140px;
	}
}
@media (max-width:575px){
	.advant_block{
		margin-top: -90px;
	}
}
.advant_block .item {
    padding-left: 136px;
    position: relative;
    height: 96px;
    align-items: center;
    display: flex;
    margin-bottom: 24px;
	padding-top: 10px;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	.advant_block .item {
		padding-left: 105px;
	}
}
@media screen and (max-width: 767px) {
	.advant_block .item {
		padding-left: 107px;
		font-size: 18px;
	}
}
.advant_block .item:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 103px;
	height: 96px;
	background-repeat: no-repeat;
	background-image: url(../img/sprite.png);	
}
.advant_block .item.item_1:before{
	background-position: 0 0;
}
.advant_block .item.item_2:before{
	background-position: -103px 0;
}
.advant_block .item.item_3:before{
	background-position: -206px 0;
}
.advant_block .item.item_4:before{
	background-position: 0 -96px;
}
.advant_block .item.item_5:before{
	background-position: -103px -96px;
}
.advant_block .item.item_6:before{
	background-position: -206px -96px;
}
.advant_block .item span{
	font-family: 'Geometria Medium', sans-serif;
}
.advant_block .item span.ln_hght {
    font-family: inherit;
    line-height: 1.2;
    display: block;
}
.safe_block{
	font-size: 35px;
	margin-top: 63px;
	font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 575px) {
	.safe_block{
		font-size: 30px;
		line-height: 1.3;
	}
}
.safe_block .billion{
	font-size: 40px;
	display: inline-flex;
	font-family: 'Open Sans Semibold', sans-serif;
}
@media screen and (max-width: 575px) {
	.safe_block .billion{
		font-size: 30px;
	}
}
.safe_block span:not(.billion){
	display: block;
    width: 34px;
    height: 57px;
    position: relative;
    margin: 0 2px;	
}
@media screen and (max-width: 575px) {
	.safe_block span:not(.billion){
		width: 26px;
		height: 42px;
	}
}
.safe_block span:not(.billion):first-child:before{
	content: '1';	
}
.safe_block span:not(.billion):before{
	content: '0';
	display: block;
	position: absolute;
    width: 34px;
    height: 57px;	
	top: 0;
	left: 0;
    background-image: linear-gradient(45deg, #4b4b4b, #6f7890);
    border-radius: 5px;
    opacity: 0.4;	
}
@media screen and (max-width: 575px) {
	.safe_block span:not(.billion):before{
		width: 26px;
		height: 42px;
	}
}
/*--- END HEADER ---*/


/*--- FEMIDA TEMPLATE ---*/
body.page-template-femida-page{
	background-color: #283237;
}
.page-template-femida-page .parallax_top .layer_01 {
    background-image: url(../img/femida_parallax_top_1.png);
}
.page-template-femida-page .contact .map:after{
	box-shadow: inset 600px 0px 204px 123px #283237, inset -187px 20px 122px 113px #283237;
}
@media screen and (max-width: 1600px) {
	.page-template-femida-page .contact .map:after{
		box-shadow: inset 420px 0px 204px 123px #283237, inset -100px 20px 122px 113px #283237;
	}	
}
@media screen and (max-width: 1365px) {
	.page-template-femida-page .contact .map:after{
		box-shadow: inset 300px 0px 128px 50px #283237, inset -50px 20px 102px 98px #283237;
	}	
}
@media screen and (max-width: 767px) {
	.page-template-femida-page .contact .map:after{
		box-shadow: inset 0 90px 104px 67px #283237, inset 0 -50px 94px 43px #283237;
	}	
}
@media (max-width: 767px){
	.page-template-femida-page .banner_block{
		background-image: url(../img/femida_ltl.png);
		padding-bottom: 277px;
		background-size: 540px;
	}
}
@media (max-width: 767px){
	.page-template-femida-page .advant_block {
		margin-top: -70px;
	}
}
/*--- END FEMIDA TEMPLATE ---*/








 