

/* Start:/local/templates/ig/js/vendor/fotorama/fotorama.css?159411112215141*/
/*!
 * Fotorama 4.6.4 | http://fotorama.io/license/
 */
.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__html,.fotorama__img,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video iframe{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0}.fotorama--fullscreen,.fotorama__img{max-width:99999px!important;max-height:99999px!important;min-width:0!important;min-height:0!important;border-radius:0!important;box-shadow:none!important;padding:0!important}.fotorama__wrap .fotorama__grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.fotorama__grabbing *{cursor:move;cursor:-webkit-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}.fotorama__spinner{position:absolute!important;top:50%!important;left:50%!important}.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__caption,.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__stage__frame{-webkit-transform:translateZ(0);transform:translateZ(0)}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus,.fotorama__nav__frame{outline:0}.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after{content:'';border-radius:inherit;background-color:rgba(0,175,234,.5)}.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__shaft{-webkit-transform:none!important;transform:none!important}.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border{transition-property:-webkit-transform,width;transition-property:transform,width;transition-timing-function:cubic-bezier(0.1,0,.25,1);transition-duration:0ms}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fotorama__select{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fotorama__nav,.fotorama__nav__frame{margin:auto;padding:0}.fotorama__caption__wrap,.fotorama__nav__frame,.fotorama__nav__shaft{-moz-box-orient:vertical;display:inline-block;vertical-align:middle;*display:inline;*zoom:1}.fotorama__nav__frame,.fotorama__thumb-border{box-sizing:content-box}.fotorama__caption__wrap{box-sizing:border-box}.fotorama--hidden,.fotorama__load{position:absolute;left:-99999px;top:-99999px;z-index:-1}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play{-webkit-tap-highlight-color:transparent}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(../../../../../../local/templates/ig/js/vendor/fotorama/fotorama-1.png) no-repeat}@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:2dppx){.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(../../../../../../local/templates/ig/js/vendor/fotorama/fotorama@2x-1.png) 0 0/96px 160px no-repeat}}.fotorama__thumb{background-color:#7f7f7f;background-color:rgba(127,127,127,.2)}@media print{.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__thumb-border,.fotorama__video-close,.fotorama__video-play{background:none!important}}.fotorama{min-width:1px;overflow:hidden}.fotorama:not(.fotorama--unobtrusive)>*:not(:first-child){display:none}.fullscreen{width:100%!important;height:100%!important;max-width:100%!important;max-height:100%!important;margin:0!important;padding:0!important;overflow:hidden!important;background:#000}.fotorama--fullscreen{position:absolute!important;top:0!important;left:0!important;right:0!important;bottom:0!important;float:none!important;z-index:2147483647!important;background:#000;width:100%!important;height:100%!important;margin:0!important}.fotorama--fullscreen .fotorama__nav,.fotorama--fullscreen .fotorama__stage{background:#000}.fotorama__wrap{-webkit-text-size-adjust:100%;position:relative;direction:ltr;z-index:0}.fotorama__wrap--rtl .fotorama__stage__frame{direction:rtl}.fotorama__nav,.fotorama__stage{overflow:hidden;position:relative;max-width:100%}.fotorama__wrap--pan-y{-ms-touch-action:pan-y}.fotorama__wrap .fotorama__pointer{cursor:pointer}.fotorama__wrap--slide .fotorama__stage__frame{opacity:1!important}.fotorama__stage__frame{overflow:hidden}.fotorama__stage__frame.fotorama__active{z-index:8}.fotorama__wrap--fade .fotorama__stage__frame{display:none}.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear,.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active{display:block;left:0;top:0}.fotorama__wrap--fade .fotorama__fade-front{z-index:8}.fotorama__wrap--fade .fotorama__fade-rear{z-index:7}.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active{z-index:9}.fotorama__wrap--fade .fotorama__stage .fotorama__shadow{display:none}.fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;border:none!important}.fotorama__error .fotorama__img,.fotorama__loaded .fotorama__img{-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,.fotorama__img--full{display:none}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full{display:block}.fotorama__wrap--only-active .fotorama__nav,.fotorama__wrap--only-active .fotorama__stage{max-width:99999px!important}.fotorama__wrap--only-active .fotorama__stage__frame{visibility:hidden}.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active{visibility:visible}.fotorama__nav{font-size:0;line-height:0;text-align:center;display:none;white-space:nowrap;z-index:5}.fotorama__nav__shaft{position:relative;left:0;top:0;text-align:left}.fotorama__nav__frame{position:relative;cursor:pointer}.fotorama__nav--dots{display:block}.fotorama__nav--dots .fotorama__nav__frame{width:18px;height:30px}.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border{display:none}.fotorama__nav--thumbs{display:block}.fotorama__nav--thumbs .fotorama__nav__frame{padding-left:0!important}.fotorama__nav--thumbs .fotorama__nav__frame:last-child{padding-right:0!important}.fotorama__nav--thumbs .fotorama__nav__frame--dot{display:none}.fotorama__dot{display:block;width:4px;height:4px;position:relative;top:12px;left:6px;border-radius:6px;border:1px solid #7f7f7f}.fotorama__nav__frame:focus .fotorama__dot:after{padding:1px;top:-1px;left:-1px}.fotorama__nav__frame.fotorama__active .fotorama__dot{width:0;height:0;border-width:3px}.fotorama__nav__frame.fotorama__active .fotorama__dot:after{padding:3px;top:-3px;left:-3px}.fotorama__thumb{overflow:hidden;position:relative;width:100%;height:100%}.fotorama__nav__frame:focus .fotorama__thumb{z-index:2}.fotorama__thumb-border{position:absolute;z-index:9;top:0;left:0;border-style:solid;border-color:#00afea;background-image:linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))}.fotorama__caption{position:absolute;z-index:12;bottom:0;left:0;right:0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:1.5;color:#000}.fotorama__caption a{text-decoration:none;color:#000;border-bottom:1px solid;border-color:rgba(0,0,0,.5)}.fotorama__caption a:hover{color:#333;border-color:rgba(51,51,51,.5)}.fotorama__wrap--rtl .fotorama__caption{left:auto;right:0}.fotorama__wrap--no-captions .fotorama__caption,.fotorama__wrap--video .fotorama__caption{display:none}.fotorama__caption__wrap{background-color:#fff;background-color:rgba(255,255,255,.9);padding:5px 10px}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fotorama__wrap--css3 .fotorama__spinner{-webkit-animation:spinner 24s infinite linear;animation:spinner 24s infinite linear}.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__stage .fotorama__img{transition-property:opacity;transition-timing-function:linear;transition-duration:.3s}.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}.fotorama__select{cursor:auto}.fotorama__video{top:32px;right:0;bottom:0;left:0;position:absolute;z-index:10}@-moz-document url-prefix(){.fotorama__active{box-shadow:0 0 0 transparent}}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{position:absolute;z-index:11;cursor:pointer}.fotorama__arr{position:absolute;width:32px;height:32px;top:50%;margin-top:-16px}.fotorama__arr--prev{left:2px;background-position:0 0}.fotorama__arr--next{right:2px;background-position:-32px 0}.fotorama__arr--disabled{pointer-events:none;cursor:default;*display:none;opacity:.1}.fotorama__fullscreen-icon{width:32px;height:32px;top:2px;right:2px;background-position:0 -32px;z-index:20}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus{border-radius:50%}.fotorama--fullscreen .fotorama__fullscreen-icon{background-position:-32px -32px}.fotorama__video-play{width:96px;height:96px;left:50%;top:50%;margin-left:-48px;margin-top:-48px;background-position:0 -64px;opacity:0}.fotorama__wrap--css2 .fotorama__video-play,.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:none}.fotorama__error .fotorama__video-play,.fotorama__loaded .fotorama__video-play,.fotorama__nav__frame .fotorama__video-play{opacity:1;display:block}.fotorama__nav__frame .fotorama__video-play{width:32px;height:32px;margin-left:-16px;margin-top:-16px;background-position:-64px -32px}.fotorama__video-close{width:32px;height:32px;top:0;right:0;background-position:-64px 0;z-index:20;opacity:0}.fotorama__wrap--css2 .fotorama__video-close{display:none}.fotorama__wrap--css3 .fotorama__video-close{-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--video .fotorama__video-close{display:block;opacity:1}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{opacity:0}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{opacity:1}.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon{opacity:0!important}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{display:none}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{display:block}.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon{display:none!important}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus){-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){-webkit-transform:translate3d(-48px,0,0);transform:translate3d(-48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){-webkit-transform:translate3d(48px,0,0);transform:translate3d(48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon{-webkit-transform:translate3d(32px,-32px,0)!important;transform:translate3d(32px,-32px,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{-webkit-transform:translate3d(-48px,0,0)!important;transform:translate3d(-48px,0,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next{-webkit-transform:translate3d(48px,0,0)!important;transform:translate3d(48px,0,0)!important}.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus){transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.3s}.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before{content:"";display:block;position:absolute;text-decoration:none;top:0;bottom:0;width:10px;height:auto;z-index:10;pointer-events:none;background-repeat:no-repeat;background-size:1px 100%,5px 100%}.fotorama__nav:before,.fotorama__stage:before{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);background-position:0 0,0 0;left:-10px}.fotorama__nav.fotorama__shadows--left:before,.fotorama__stage.fotorama__shadows--left:before{left:0}.fotorama__nav:after,.fotorama__stage:after{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);background-position:100% 0,100% 0;right:-10px}.fotorama__nav.fotorama__shadows--right:after,.fotorama__stage.fotorama__shadows--right:after{right:0}.fotorama--fullscreen .fotorama__nav:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__stage:before{display:none}
/* End */


/* Start:/local/templates/ig/components/bitrix/news.list/index_advert/style.css?1587722934129*/
div.news-list{word-wrap:break-word}div.news-list img.preview_picture{float:left;margin:0 4px 6px 0}.news-date-time{color:#486DAA}
/* End */


/* Start:/bitrix/components/innova/youtube/lib/ts-innova-youtube.css?15941418342826*/
.tns_innova_youtube-outer{padding:0 !important}.tns_innova_youtube-outer [hidden]{display:none !important}.tns_innova_youtube-outer [aria-controls],.tns_innova_youtube-outer [data-action]{cursor:pointer}.tns_innova_youtube-slider{-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s}.tns_innova_youtube-slider>.tns_innova_youtube-item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.tns_innova_youtube-horizontal.tns_innova_youtube-subpixel{white-space:nowrap}.tns_innova_youtube-horizontal.tns_innova_youtube-subpixel>.tns_innova_youtube-item{display:inline-block;vertical-align:top;white-space:normal}.tns_innova_youtube-horizontal.tns_innova_youtube-no-subpixel:after{content:'';display:table;clear:both}.tns_innova_youtube-horizontal.tns_innova_youtube-no-subpixel>.tns_innova_youtube-item{float:left}.tns_innova_youtube-horizontal.tns_innova_youtube-carousel.tns_innova_youtube-no-subpixel>.tns_innova_youtube-item{margin-right:-100%}.tns_innova_youtube-no-calc{position:relative;left:0}.tns_innova_youtube-gallery{position:relative;left:0;min-height:1px}.tns_innova_youtube-gallery>.tns_innova_youtube-item{position:absolute;left:-100%;-webkit-transition:transform 0s, opacity 0s;-moz-transition:transform 0s, opacity 0s;transition:transform 0s, opacity 0s}.tns_innova_youtube-gallery>.tns_innova_youtube-slide-active{position:relative;left:auto !important}.tns_innova_youtube-gallery>.tns_innova_youtube-moving{-webkit-transition:all 0.25s;-moz-transition:all 0.25s;transition:all 0.25s}.tns_innova_youtube-autowidth{display:inline-block}.tns_innova_youtube-lazy-img{-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;transition:opacity 0.6s;opacity:0.6}.tns_innova_youtube-lazy-img.tns_innova_youtube-complete{opacity:1}.tns_innova_youtube-ah{-webkit-transition:height 0s;-moz-transition:height 0s;transition:height 0s}.tns_innova_youtube-ovh{overflow:hidden}.tns_innova_youtube-visually-hidden{position:absolute;left:-10000em}.tns_innova_youtube-transparent{opacity:0;visibility:hidden}.tns_innova_youtube-fadeIn{opacity:1;filter:alpha(opacity=100);z-index:0}.tns_innova_youtube-normal,.tns_innova_youtube-fadeOut{opacity:0;filter:alpha(opacity=0);z-index:-1}.tns_innova_youtube-vpfix{white-space:nowrap}.tns_innova_youtube-vpfix>div,.tns_innova_youtube-vpfix>li{display:inline-block}.tns_innova_youtube-t-subp2{margin:0 auto;width:310px;position:relative;height:10px;overflow:hidden}.tns_innova_youtube-t-ct{width:2333.3333333%;width:-webkit-calc(100% * 70 / 3);width:-moz-calc(100% * 70 / 3);width:calc(100% * 70 / 3);position:absolute;right:0}.tns_innova_youtube-t-ct:after{content:'';display:table;clear:both}.tns_innova_youtube-t-ct>div{width:1.4285714%;width:-webkit-calc(100% / 70);width:-moz-calc(100% / 70);width:calc(100% / 70);height:10px;float:left}
/* End */


/* Start:/bitrix/components/innova/youtube/lib/wa-mediabox.min.css?15941418347177*/
.wa-mediabox-frame .wa-mediabox-close:focus,.wa-mediabox-next:focus,.wa-mediabox-prev:focus{outline:0}.wa-mediabox-overlay{margin:0;padding:0;position:fixed;left:0;top:0;width:100%;height:100%;background:#333;background:rgba(20,20,20,.95);z-index:1000;opacity:0;transition:opacity .4s;-webkit-transition:opacity .4s}.wa-mediabox-overlay.opened{opacity:1}.wa-mediabox-frame{position:absolute;left:50%;top:50%;width:0;height:0;margin-left:0;margin-top:0;background:#fff;box-shadow:0 3px 14px rgba(0,0,0,.5);transition:width .5s,height .5s,margin .5s;-webkit-transition:width .5s,height .5s,margin .5s}.wa-mediabox-container{position:relative;width:100%;height:100%;opacity:0;z-index:0;cursor:pointer;overflow:hidden;transition:opacity .3s;-webkit-transition:opacity .3s}.wa-mediabox-frame.loaded .wa-mediabox-container{opacity:1}.wa-mediabox-container img{max-width:100%;cursor:pointer}.wa-mediabox-frame .wa-mediabox-close{position:absolute;right:-18px;top:-18px;width:36px;height:36px;padding:6px;background:#444;border:0;border-radius:36px;cursor:pointer;box-shadow:0 2px 8px rgba(0,0,0,.2);transition:background .2s,box-shadow .2s;-webkit-transition:background .2s,box-shadow .2s}.wa-mediabox-frame .wa-mediabox-close:hover{background:#D32F2F;box-shadow:0 4px 12px rgba(0,0,0,.4)}.wa-mediabox-frame .wa-mediabox-close svg{width:24px;height:24px;fill:#aaa;transition:fill .2s;-webkit-transition:fill .2s}.wa-mediabox-frame .wa-mediabox-close:hover svg{fill:#fff}.wa-mediabox-title{position:absolute;left:0;right:0;bottom:0;padding:0 52px 0 14px;line-height:24px;font-size:13px;font-weight:300;background:#333;background:rgba(0,0,0,.8);color:#fff;opacity:0;transition:opacity .3s,padding .3s;-webkit-transition:opacity .3s,padding .3s}.wa-mediabox-frame.loaded.has-title .wa-mediabox-title{padding:14px 52px 14px 14px;opacity:1;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.wa-mediabox-frame .wa-mediabox-open{position:absolute;right:10px;bottom:10px;padding:4px;display:none;opacity:0;z-index:20;cursor:pointer;background:#fff;border:0;border-radius:2px;transition:opacity .3s;-webkit-transition:opacity .3s}.wa-mediabox-frame .wa-mediabox-open svg{width:24px;height:24px;fill:#333}.wa-mediabox-frame.can-open-in-new .wa-mediabox-open{display:block}.wa-mediabox-frame.can-open-in-new:hover .wa-mediabox-open{opacity:.4}.wa-mediabox-frame.can-open-in-new:hover .wa-mediabox-open:hover{opacity:1}.wa-mediabox-next,.wa-mediabox-prev{position:absolute;top:50%;width:74px;height:74px;padding:5px;margin-top:-32px;border:0;background:0 0;cursor:pointer;opacity:0;transition:opacity .3s;-webkit-transition:opacity .3s}.wa-mediabox-prev{left:-80px}.wa-mediabox-next{right:-80px}.wa-mediabox-frame.has-next .wa-mediabox-next,.wa-mediabox-frame.has-prev .wa-mediabox-prev{opacity:1}.wa-mediabox-next svg,.wa-mediabox-prev svg{width:64px;height:64px;fill:#999;transition:fill .2s;-webkit-transition:fill .2s}.wa-mediabox-next:hover svg,.wa-mediabox-prev:hover svg{fill:#fff}@media all and (max-width:479px){.wa-mediabox-prev{left:-40px}.wa-mediabox-next{right:-40px}.wa-mediabox-next,.wa-mediabox-prev{width:42px;height:42px;margin-top:-21px}.wa-mediabox-next svg,.wa-mediabox-prev svg{width:32px;height:32px}}.wa-mediabox-preloader{position:absolute;left:50%;top:50%;width:64px;height:64px;margin-left:-32px;margin-top:-32px;opacity:1;transition:opacity .5s;-webkit-transition:opacity .5s}.wa-mediabox-preloader.hidden{opacity:0}.wa-mediabox-preloader .wa-mediabox-preloader-wrap{box-sizing:border-box;position:relative;display:inline-block;width:64px;height:64px;-webkit-animation:wa-mediabox-preloader-container-rotate 1568ms linear infinite;animation:wa-mediabox-preloader-container-rotate 1568ms linear infinite}.wa-mediabox-preloader .wa-mediabox-preloader-spinner{position:absolute;width:100%;height:100%;opacity:1;border-color:#2196F3;-webkit-animation:wa-mediabox-preloader-fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both;animation:wa-mediabox-preloader-fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both;box-sizing:inherit}.wa-mediabox-preloader .wa-mediabox-preloader-clipper{display:inline-block;position:relative;width:50%;height:100%;overflow:hidden;border-color:inherit;box-sizing:inherit}.wa-mediabox-preloader .wa-mediabox-preloader-clipper.left{float:left}.wa-mediabox-preloader .wa-mediabox-preloader-clipper.right{float:right}.wa-mediabox-preloader .wa-mediabox-preloader-clipper .wa-mediabox-preloader-circle{width:200%;height:100%;border-width:5px;border-style:solid;border-color:inherit;border-bottom-color:transparent!important;border-radius:50%;position:absolute;top:0;right:0;bottom:0;box-sizing:inherit}.wa-mediabox-preloader .wa-mediabox-preloader-clipper.left .wa-mediabox-preloader-circle{left:0;border-right-color:transparent!important;-webkit-transform:rotate(129deg);transform:rotate(129deg);-webkit-animation:wa-mediabox-preloader-left-spin 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:wa-mediabox-preloader-left-spin 1333ms cubic-bezier(.4,0,.2,1) infinite both}.wa-mediabox-preloader .wa-mediabox-preloader-clipper.right .wa-mediabox-preloader-circle{left:-100%;border-left-color:transparent!important;-webkit-transform:rotate(-129deg);transform:rotate(-129deg);-webkit-animation:wa-mediabox-preloader-right-spin 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:wa-mediabox-preloader-right-spin 1333ms cubic-bezier(.4,0,.2,1) infinite both}.wa-mediabox-preloader .wa-mediabox-preloader-patch{position:absolute;top:0;left:45%;width:10%;height:100%;overflow:hidden;border-color:inherit}.wa-mediabox-preloader .wa-mediabox-preloader-patch .wa-mediabox-preloader-circle{width:1000%;left:-450%}@-webkit-keyframes wa-mediabox-preloader-container-rotate{to{-webkit-transform:rotate(360deg)}}@keyframes wa-mediabox-preloader-container-rotate{to{transform:rotate(360deg)}}@-webkit-keyframes wa-mediabox-preloader-fill-unfill-rotate{12.5%{-webkit-transform:rotate(135deg)}25%{-webkit-transform:rotate(270deg)}37.5%{-webkit-transform:rotate(405deg)}50%{-webkit-transform:rotate(540deg)}62.5%{-webkit-transform:rotate(675deg)}75%{-webkit-transform:rotate(810deg)}87.5%{-webkit-transform:rotate(945deg)}to{-webkit-transform:rotate(1080deg)}}@keyframes wa-mediabox-preloader-fill-unfill-rotate{12.5%{transform:rotate(135deg)}25%{transform:rotate(270deg)}37.5%{transform:rotate(405deg)}50%{transform:rotate(540deg)}62.5%{transform:rotate(675deg)}75%{transform:rotate(810deg)}87.5%{transform:rotate(945deg)}to{transform:rotate(1080deg)}}@-webkit-keyframes wa-mediabox-preloader-blue-fade-in-out{100%,25%,90%,from{opacity:1}26%,89%{opacity:0}}@keyframes wa-mediabox-preloader-blue-fade-in-out{100%,25%,90%,from{opacity:1}26%,89%{opacity:0}}@-webkit-keyframes wa-mediabox-preloader-left-spin{from,to{-webkit-transform:rotate(130deg)}50%{-webkit-transform:rotate(-5deg)}}@keyframes wa-mediabox-preloader-left-spin{from,to{transform:rotate(130deg)}50%{transform:rotate(-5deg)}}@-webkit-keyframes wa-mediabox-preloader-right-spin{from,to{-webkit-transform:rotate(-130deg)}50%{-webkit-transform:rotate(5deg)}}@keyframes wa-mediabox-preloader-right-spin{from,to{transform:rotate(-130deg)}50%{transform:rotate(5deg)}}
/* End */


/* Start:/local/templates/ig/components/innova/youtube/.default/style.css?15941111229491*/
.innova_youtube_header_banner {
	width: 100%;
    height: 175px;
    background-position: center center;
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
}
.innova_youtube_header_banner.is-mobile-banner {
	display: none;
}
.innova_youtube_header_inner {
	padding: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.innova_youtube_header_logo {
    margin: 15px;
}
.innova_youtube_header_logo img {
    display: block;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.innova_youtube_header_info {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: 15px;
}
.innova_youtube_header_info .innova_youtube_header_channel_title a {
	font-size: 20px;
	overflow: hidden;
    white-space: nowrap;
    line-height: 24px;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	text-decoration: none;
	color: #000;
}
.innova_youtube_header_info .innova_youtube_header_channel_title a:hover {
	text-decoration: underline;
}
.innova_youtube_header_info .innova_youtube_header_channel_properties {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
}
.innova_youtube_header_info .innova_youtube_header_channel_properties .innova_youtube_header_channel_properties_item {
    margin-left: 20px;
    padding: 5px 0;
}
.innova_youtube_header_info .innova_youtube_header_channel_properties .innova_youtube_header_channel_properties_item:first-child {
	margin-left: 0;
}
.innova_youtube_header_info .innova_youtube_header_channel_properties .innova_youtube_header_channel_properties_item:first-child .innova_youtube_header_channel_properties_item_divider{
	display: none;
}
.innova_youtube_header_subscribe {
	margin: 15px;
}
.innova_youtube_header_subscribe_button iframe {
    border: none;
    position: static;
    top: 0px;
    width: 119px;
    margin: 0px;
    border-style: none;
    left: 0px;
    visibility: visible;
    height: 24px;
}

.innova_youtube_item {
	width: 8.7rem;
	height: 8.2rem;
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
    opacity: 1;
    float: none;
    display: inline-block;
    position: relative;
    top: initial;
    left: initial;
    vertical-align: top;
	margin-bottom: 1rem;
	cursor: pointer;
}
.innova_youtube_item_inner {
	padding: 0;
}
.innova_youtube_item_image {
	width: 100%;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
}
.innova_youtube_item_image img {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
	width: 102% !important;
	height: auto;
	-webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    z-index: 0;
	-webkit-backface-visibility: hidden;
}

.innova_youtube_item_image .innova_youtube_video_preview_play {
    display: block;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 0 18px 28px;
    border-color: transparent transparent transparent rgba(255,255,255,.5);
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border-left-color: rgba(255, 255, 255, 0.4);
}

.innova_youtube_item:hover .innova_youtube_item_image img {
    -webkit-transform: perspective(500px) scale3d(1.15, 1.15, 1) rotateZ(3deg) translate(-50%, -50%);
    transform: perspective(500px) scale3d(1.1, 1.1, 1) rotateZ(3deg) translate(-50%, -50%);
}

.innova_youtube_item:hover .innova_youtube_item_image .innova_youtube_video_preview_play {
	border-left-color: rgba(255, 255, 255, 0.8);
}

.innova_youtube_item_title {
	font-size: 0.8rem;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1rem;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-weight: 700;
	margin-top: 0.1rem;
}
.innova_youtube_item:hover .innova_youtube_item_title {
	text-decoration: underline;
}

.innova_youtube_item_date {
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.7);
	margin-top: 0.2rem;
	overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.innova_youtube_item_description {
    overflow: hidden;
    margin-top: 8px;
    word-wrap: break-word;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    line-height: 1.4;
    font-size: 13px;
    height: 40px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.innova_youtube_item_information {
	overflow: hidden;
}
.innova_youtube_item_information_bar {
	margin-top: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.8rem;
}
.innova_youtube_item_information_bar_views, .innova_youtube_item_information_bar_likes, .innova_youtube_item_information_bar_comments {
	margin: 0 10px;
	font-size: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.innova_youtube_item_information_bar_views span, .innova_youtube_item_information_bar_likes span, .innova_youtube_item_information_bar_comments span {
	margin-left: 0.2rem;
    display: block;
}
.innova_youtube_item_information_bar_views svg {
	width: 18px;
    height: 18px;
	fill: currentColor;
}
.innova_youtube_item_information_bar_likes svg, .innova_youtube_item_information_bar_comments svg {
    width: 15px;
    height: 15px;
	fill: currentColor;
}
.innova_youtube_load_more {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
}
.innova_youtube_load_more .innova_youtube_load_more_button {
	font-size: 14px;
    padding: 10px;
    background: rgba(0,0,0,0.47);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
}
.innova_youtube_load_more .innova_youtube_load_more_button.is-loading-videos {
	color: transparent!important;
    pointer-events: none;
    position: relative;
}
.innova_youtube_load_more .innova_youtube_load_more_button.is-loading-videos:after {
	border-color: transparent transparent #fff #fff!important;
	left: -webkit-calc(50% - 8px);
	left: calc(50% - 8px);
	top: -webkit-calc(50% - 8px);
	top: calc(50% - 8px);
	position: absolute!important;
	-webkit-animation: spinAround .5s infinite linear;
	animation: spinAround .5s infinite linear;
	border: 2px solid #dbdbdb;
	-webkit-border-radius: 290486px;
	        border-radius: 290486px;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 16px;
	position: relative;
	width: 16px;
}
.innova_youtube_load_more .innova_youtube_load_more_button:not(.is-loading-videos):hover {
    background: rgba(0,0,0,0.7);
}

.innova_youtube_temp_holder {
	display: none;
}

@media only screen and (max-width: 768px) {
	.innova_youtube_header_banner {
		display: none;
	}
	.innova_youtube_header_banner.is-mobile-banner {
		display: block;
	}
	.innova_youtube_header_inner {
	}
	.innova_youtube_header_logo {
	}
	.innova_youtube_header_info {
		text-align: center;
	}
	.innova_youtube_header_info .innova_youtube_header_channel_properties {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.innova_youtube_header_info .innova_youtube_header_channel_properties {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform:rotate(0);
		transform:rotate(0);
	}
	to {
		-webkit-transform:rotate(359deg);
		transform:rotate(359deg);
	}
}
@keyframes spinAround {
	from {
		-webkit-transform:rotate(0);
		transform:rotate(0);
	}
	to {
		-webkit-transform:rotate(359deg);
		transform:rotate(359deg);
	}
}

@media screen and (max-width: 1024px) {
	.innova_youtube_item {
		width: 10.1rem;
		height: 10.1rem;
	}
}

@media screen and (max-width: 640px) {
	.innova_youtube_item {
		width: 7rem;
		height: 7rem;
	}
}


/* End */


/* Start:/local/templates/ig/css/vendor/slick.css?15941111221776*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* End */


/* Start:/local/templates/ig/css/vendor/slick-theme.css?15941111223522*/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('/local/templates/ig/css/vendor/./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../../../../../../local/templates/ig/css/vendor/fonts/slick-2.eot');
    src: url('../../../../../../local/templates/ig/css/vendor/fonts/slick-3.eot') format('embedded-opentype'), url('../../../../../../local/templates/ig/css/vendor/fonts/slick-1.woff') format('woff'), url('../../../../../../local/templates/ig/css/vendor/fonts/slick.ttf') format('truetype'), url('../../../../../../local/templates/ig/css/vendor/fonts/slick-1.svg') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 38px;
    height: 38px;
    padding: 7px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: rgba(0, 0, 0, 0.19)
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

/*.slick-prev:before,
.slick-next:before
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1;
    background-size: contain;

    opacity: .75;
    color: #ff1e5a;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/

.slick-prev
{
    left: -70px;
}
[dir='rtl'] .slick-prev
{
    right: -70px;
    left: auto;
}
/*.slick-prev:before
{
    content: ' ';
    background: url("/local/templates/ig/img/left-arrow.png") no-repeat;
}
[dir='rtl'] .slick-prev:before
{
    content: ' ';
    background: url("/local/templates/ig/img/right-arrow.png") no-repeat;
}*/

.slick-next
{
    right: -70px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -70px;
}
/*.slick-next:before
{
    content: ' ';
    background: url("/local/templates/ig/img/right-arrow.png") no-repeat;
}
[dir='rtl'] .slick-next:before
{
    content: ' ';
    background: url("/local/templates/ig/img/left-arrow.png") no-repeat;
}*/

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* End */
/* /local/templates/ig/js/vendor/fotorama/fotorama.css?159411112215141 */
/* /local/templates/ig/components/bitrix/news.list/index_advert/style.css?1587722934129 */
/* /bitrix/components/innova/youtube/lib/ts-innova-youtube.css?15941418342826 */
/* /bitrix/components/innova/youtube/lib/wa-mediabox.min.css?15941418347177 */
/* /local/templates/ig/components/innova/youtube/.default/style.css?15941111229491 */
/* /local/templates/ig/css/vendor/slick.css?15941111221776 */
/* /local/templates/ig/css/vendor/slick-theme.css?15941111223522 */
