@import url('../../css.css');

.logo img {
	width: 60px;
	display: block;
}

.phone {
	width: 45px;
	padding: 10px;
	border-radius: 200px;
	background: #46c6e9;
}


.head {
	background: #264559;
	padding: 10px 0;
}


.slider {
	background: #333;
}


.ssc {
	margin-top: 400px;
	margin-bottom: 50px;
	padding: 10px 25px;
	text-shadow: 0px 3px 15px #1f2f39
}
.prr {
	background: #264559;
	color: #f1f1f1;
}
.prr img {
	width: 70px;
	padding: 0;
}

.pvv {
	background: #ebf2f5;
	color: #264559;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Oswald",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    color: #223542;
}

.uk-countdown-number {
	font-size: 30px;
	font-weight: bold;
	color: #264559;
}

.uk-card-default {
	color: #264559;
	font-size: 17px;
}

.uk-countdown-separator {
	font-size: 26px;
}

html {
	font-family: -apple-system,BlinkMacSystemFont,FiraSans,"Helvetica Neue","Segoe UI",Roboto,Arial,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #323b40;
}

.fbf {
	background: #f5f3eb;
	border-top: 1px solid #e8e4d5;
}

.uk-heading-bullet::before {
	border-left: calc(5px + .1em) solid #46c6e9;
}

.uk-tile-default {
	background: #ebf2f5;
	border: 1px dashed #c8c8c8;
}

.contact {
	background: #fff;
	padding: 35px 0px 35px 0;
}


.fixed-contact {
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.fixed-contact a {
	width: 35px;
	display: block;
	padding: 10px;
	background: #fff;
	margin: 15px 0 0 0px;
	border-radius: 55px;
}

.uk-button-primary {
	background-color: #46c6e9;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 30px;
	font-weight: bold;
}

/* Phone landscape and bigger */
@media (max-width: 640px) {

.ssc {
	margin-top: 180px;
}

.uk-heading-medium {
	font-size: 27px;
	line-height: 1.1;
}

}